@import "_config";
@import "_mixin";
body {
    font-family: @font;
    background-color: @backgroundGrey;
    color: #444;
    font-size: @basefontsize;
    line-height: 1.5;
}

h1{
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: bold;
}

h2{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}
 
h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    font-style:italic;
}

h4, h5, h6{
    font-size: 18px;
    font-weight: 500;
}

p{
    font-size: @basefontsize;
    margin-bottom: 10px;
}

ol, ul{
    padding-left: 1.5em;
    li{
        line-height: 2em;
    }
}

ol.modern, ul.modern{
    list-style-type: none;
    padding-left: 0;
}

ol.modern {
    li{
        counter-increment: item;
    }
    li:before{
        background-color: @calltoactioncolour;
        color: #fff;
        text-align: center;
        width: 1.5em;
        display: inline-block;
        content: counter(item);
        height: 1.5em;
        line-height: 1.5em;
        margin-right: .5em;
        border-radius: @commonBorderRadius;
    }
}

ul.modern{
    li:before{
        background-color: @calltoactioncolour;
        color: #fff;
        text-align: center;
        width: .5em;
        display: inline-block;
        height: .5em;
        margin-right: .5em;
        border-radius: 50%;
        content: '';
        vertical-align: middle;
    }
}

a{
    color: @hyperlinkColour;
    text-decoration: none;
    font-weight: bold;
}

a.button, button{
    .buttonMixin;
}

.constrain{
    padding: 20px;
    background-color: #fff;
}

input{
    
    &[type=text], &[type=tel],
    &[type=password], &[type=email],
    &[type=url], &[type=search] {
        .textFieldMixin;
    }

    &[type=submit], &[type=reset], &[type=button]{
        .buttonMixin;
    }

    &[type=checkbox], &[type=radio]{
        height: 16px;
        width: 15px;
        margin: 0 3px;
        vertical-align: middle;
    }
}

table {
    width: 100%;
    line-height: @baselineheight;

    th, td {
        padding: 0 10px;
        text-align: left;

        &.number {
            text-align: right;
        }
    }

    th {
        font-weight: bold;
        border-bottom: 2px solid @calltoactioncolour;
    }
    tbody{
        tr{
            &:hover{
                background-color: rgba(0,0,0,0.1);
            }
        }
    }
}

blockquote{
    width: 60%;
    min-width: 280px;
    padding: 20px;
    border: 2px solid #ddd;
    border-left-width: 10px;
    margin: 10px auto;
    font-size: 1.2em;
    border-radius: @commonBorderRadius;
}


@media @tablet {
    .constrain{
        width: 600px;
        margin: 0 auto 20px;
    }
}

@media @desktop {
    .constrain{
        width: 930px;
    }
}

@media @xldesktop {
    .constrain{
        width: 1260px;
    }
}
