@import "_config";
@import "_mixin";
body {
    font-family: @font;
    background-color: @backgroundGrey;
    color: #444;
}

h1{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2{
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

h3{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    font-style:italic;
}

p{
    font-size: @basefontsize;
    line-height: 20px;
    margin-bottom: 10px;
}



a.button, button{
    .buttonMixin;
}

.constrain{
    padding: 20px;
    background-color: #fff;
}

input{
    
    &[type=text], &[type=tel],
    &[type=password], &[type=email],
    &[type=url], &[type=search] {
        .textFieldMixin;
    }

    &[type=submit], &[type=reset], &[type=button]{
        .buttonMixin;
    }
}

.formField{
    line-height: 40px;
    .formlabelMixin;
}
.controlBar{
    font-size: 0;
    line-height: 40px;
    .control{
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }
    .formlabelMixin;
}

@media @tablet {
    .constrain{
        width: 600px;
        margin: 0 auto 20px;
    }
}

@media @desktop {
    .constrain{
        width: 930px;
    }
}

@media @xldesktop {
    .constrain{
        width: 1260px;
    }
}
