@tablet: ~"(min-width: 660px)";
@desktop: ~"(min-width: 990px)";
@xldesktop: ~"(min-width: 1320px)";

@font: Arial, san-serif;

@backgroundGrey: #e7ebee;

@basefontsize: 14px;

@calltoactioncolor: #4B77BE;