@import "_config";
.fakeinput {
    line-height: @baselineheight;

    .fakebox {
        border: 1px solid #aaa;
        height: 14px;
        width: 14px;
        margin: 7px;
        display: inline-block;
        vertical-align: middle;
        line-height: @baselineheight;
        transition: all .15s linear;
    }

    .fakefill {
        height: 8px;
        width: 8px;
        margin: 3px;
        background-color: #fff;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: @baselineheight;
        padding-right: 8px;
    }

    input {
        position: absolute;
        left: -9999em;

        &:checked + .fakebox {
            background-color: @selectedcolour;
        }
    }

    &.radio {
        .fakebox {
            border-radius: 50%;
        }

        .fakefill {
            border-radius: 50%;
        }
    }

    &.checkbox {
        .fakebox{
            border-radius: 2px;
        } 
        .fakefill {
            background-image: url('../Content/Icons/check.png');
            background-image: url('../Content/Icons/check.svg');
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 10px 8px;
            margin: 1px;
            height: 12px;
            width: 12px;
        }
    }
}