@import "_config";
.buttonMixin(@backgroundcolor : @calltoactioncolour) {
    background-color: @backgroundcolor;
    border: none;
    border-radius: @commonBorderRadius;
    box-shadow: @commonBoxShadow;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: @basefontsize;
    font-weight: bold;
    line-height: @baselineheight;
    padding: 0 10px;
    text-decoration: none;
    transition: background-color .2s ease-in-out;

    &:hover {
        background-color: darken(@backgroundcolor, 10%);
    }

    &.negative{
        background-color: @colourNegative;
        &:hover {
            background-color: darken(@colourNegative, 10%);
        }
    }
    &.positive{
        background-color: @colourPositive;
        &:hover {
            background-color: darken(@colourPositive, 10%);
        }
    }
    &.icon{
        padding-left: @baselineheight;
        background-size: (@baselineheight * .5) (@baselineheight * .5);
        background-repeat: no-repeat;
        background-position: (@baselineheight * .25) center;

    }


    &.delete{
        .icon;
        .negative;
        .imageUrlsByName("delete-white");
    }

    &.progress{
        .icon;
        .positive;
        .imageUrlsByName("chev-right-white");
        background-position: right (@baselineheight * .25) center;
        padding: 0 @baselineheight 0 10px;
    }

    &.confirm{
        .icon;
        .positive;
        .imageUrlsByName("check");
    }

    &.depart{
        color: @colourDepart;
        border: 2px solid transparent;
        background-color: transparent;
        line-height: @baselineheight - 4;
        box-shadow: none;
        transition: border-color .2s linear;
        &:hover {
            border-color: fade(@colourDepart, 80%);
        }
    }
    &.iconOnly{
        width: @baselineheight;
        height: @baselineheight;
        background-position: center center;
        padding: 0;
        text-indent: -999em;
    }
}

.textFieldMixin{
    border: 1px solid #aaa;
    border-radius: @commonBorderRadius;
    line-height: @baselineheight - 2;
    font-size: @basefontsize;
    padding: 0 5px;
}

.formlabelMixin{
    line-height: @baselineheight;
    display: inline-block;
    cursor: pointer;
    span{
        font-size: @basefontsize;
        margin-right: 4px;
        line-height: 1.5;
    }
    textarea{
        .textFieldMixin;
        vertical-align: top;
        line-height: 1.5;
        padding-top: (@formrowheight - @baselineheight)/2;
        padding-bottom: (@formrowheight - @baselineheight)/2;
    }
}


.imageUrlsByName(@filename){
    background-image: ~"url('../Content/Icons/@{filename}.png')";
    background-image: ~"url('../Content/Icons/@{filename}.svg')";
}

.formContentWidthMixin(@inputWidth, @labelWidth){
    .form {
        .formField input[type=text], 
        .formField input[type=tel],
        .formField input[type=password], 
        .formField input[type=email],
        .formField input[type=url],
        .formField input[type=search],
        .formField textarea,
        .radioField .radioChoices {
            width: @inputWidth;

        }

        .formField {
            &.checkbox label span{
                width: @labelWidth;
            }

            label span{
                width: @labelWidth;
            }

            textarea{
                min-width: @inputWidth;
                max-width: @inputWidth;
            }
        }
        .radioField > span{
            width: @labelWidth;
        }
    }
}