@import "_config";
.buttonMixin {
    display: inline-block;
    font-size: @basefontsize;
    text-decoration: none;
    line-height: @baselineheight;
    border-radius: @commonBorderRadius;
    border: none;
    padding: 0 10px;
    background-color: @calltoactioncolour;
    color: #fff;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    font-weight: bold;
    box-shadow: @commonBoxShadow;

    &:hover {
        background-color: darken(@calltoactioncolour, 5%);
    }
}

.textFieldMixin{
    border: 1px solid #aaa;
    border-radius: @commonBorderRadius;
    line-height: @baselineheight - 2;
    font-size: @basefontsize;
    padding: 0 5px;
}

.formlabelMixin{
    label{
        line-height: @baselineheight;
        display: inline-block;
        cursor: pointer;
        span{
            font-size: @basefontsize;
        }
    }
}