div[data-class="section"] {
  padding: 10px 0 20px;
}
span[data-class="sectiontitle"] {
  display: block;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  padding: 0 20px;
  margin-bottom: 10px;
  font-family: Arial !important;
}
div[data-class="subsection"] {
  padding: 10px 0;
}
span[data-class="subsectiontitle"] {
  display: block;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  padding: 0 20px;
  margin: 10px 0;
  font-family: Arial !important;
  width: 50%;
  box-sizing: border-box;
}
div[data-class="ruleset"] {
  background-color: #ddd;
  padding: 10px;
  margin-bottom: 10px;
}
span[data-class="rule"] {
  color: #333;
  font-size: 14px;
  line-height: 30px;
  display: block;
}
span[data-class="rule"]::before {
  content: '-';
  margin-right: 10px;
}
div[data-id='fontswitcher'] {
  font-size: 0;
}
div[data-id='fontswitcher'] a {
  display: inline-block;
  line-height: 40px;
  padding: 0 10px;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  vertical-align: top;
  margin-right: 10px;
  font-size: 14px;
}
div[data-id='fontswitcher'] a[data-class='default'] {
  font-family: inherit !important;
}
div[data-id='fontswitcher'] a:hover {
  background-color: #666;
}