/* Colours */
/* Settings */
/* generated values */
div[data-class="section"] {
  padding: 10px 0 20px;
}
span[data-class="sectiontitle"] {
  display: block;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  padding: 0 20px;
  margin-bottom: 10px;
  font-family: Arial !important;
}
div[data-class="subsection"] {
  padding: 10px 0;
}
span[data-class="subsectiontitle"] {
  display: block;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  padding: 0 20px;
  margin: 10px 0;
  font-family: Arial !important;
  width: 50%;
  box-sizing: border-box;
}
div[data-class="ruleset"] {
  background-color: #ddd;
  padding: 10px;
  margin-bottom: 10px;
}
span[data-class="rule"] {
  color: #333;
  font-size: 14px;
  line-height: 30px;
  display: block;
}
span[data-class="rule"]::before {
  content: '-';
  margin-right: 10px;
}
div[data-id='fontswitcher'] div[data-class='font-list'] {
  display: flex;
  justify-content: space-around;
}
div[data-id='fontswitcher'] a.default {
  font-family: inherit !important;
}
div[data-class='font-demoText'] {
  background-color: #eee;
  margin-top: 10px;
}
div[data-class='font-demoText'] span {
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  display: block;
}
div[data-class='colourHolder'] {
  padding: 10px;
  font-size: 0;
}
div[data-class='colourHolder'] div[data-class='colour'] {
  text-align: center;
  margin: 10px auto;
  font-size: 0;
  width: 30%;
  display: inline-block;
}
div[data-class='colourHolder'] div[data-class='colour']:nth-child(3n-1) {
  margin: 10px 5%;
}
div[data-class='colourHolder'] div[data-class='colour'].p1 .d1 {
  background-color: #c30951;
}
div[data-class='colourHolder'] div[data-class='colour'].p1 .d2 {
  background-color: #aa0847;
}
div[data-class='colourHolder'] div[data-class='colour'].p1 .d3 {
  background-color: #790632;
}
div[data-class='colourHolder'] div[data-class='colour'].p1 .p {
  background-color: #DB0A5B;
}
div[data-class='colourHolder'] div[data-class='colour'].p1 .l1 {
  background-color: #f30b65;
}
div[data-class='colourHolder'] div[data-class='colour'].p1 .l2 {
  background-color: #f52374;
}
div[data-class='colourHolder'] div[data-class='colour'].p1 .l3 {
  background-color: #f75493;
}
div[data-class='colourHolder'] div[data-class='colour'].p2 .d1 {
  background-color: #3d61a1;
}
div[data-class='colourHolder'] div[data-class='colour'].p2 .d2 {
  background-color: #36568e;
}
div[data-class='colourHolder'] div[data-class='colour'].p2 .d3 {
  background-color: #283f69;
}
div[data-class='colourHolder'] div[data-class='colour'].p2 .p {
  background-color: #446CB3;
}
div[data-class='colourHolder'] div[data-class='colour'].p2 .l1 {
  background-color: #5379be;
}
div[data-class='colourHolder'] div[data-class='colour'].p2 .l2 {
  background-color: #6588c5;
}
div[data-class='colourHolder'] div[data-class='colour'].p2 .l3 {
  background-color: #8aa4d3;
}
div[data-class='colourHolder'] div[data-class='colour'].p3 .d1 {
  background-color: #258cd1;
}
div[data-class='colourHolder'] div[data-class='colour'].p3 .d2 {
  background-color: #217dbb;
}
div[data-class='colourHolder'] div[data-class='colour'].p3 .d3 {
  background-color: #196090;
}
div[data-class='colourHolder'] div[data-class='colour'].p3 .p {
  background-color: #3498DB;
}
div[data-class='colourHolder'] div[data-class='colour'].p3 .l1 {
  background-color: #4aa3df;
}
div[data-class='colourHolder'] div[data-class='colour'].p3 .l2 {
  background-color: #5faee3;
}
div[data-class='colourHolder'] div[data-class='colour'].p3 .l3 {
  background-color: #8bc4ea;
}
div[data-class='colourHolder'] span[data-class='colourText'] {
  font-size: 14px;
  color: #fff;
  display: block;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: bold;
}