@using BrandSheet.Helpers;
<link rel="stylesheet" href="../Styles/brandsheet.css" />
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto|Rubik|Droid+Sans" rel="stylesheet" defer />
<link href="https://fonts.googleapis.com/css?family=Arvo|PT+Sans|PT+Serif|Ubuntu|Vollkorn" rel="stylesheet" defer />
<script type="text/javascript">

    $(document).on("click", "div[data-id='fontswitcher'] a", function (e) {
        e.preventDefault();
        $("body").prop("class", $(this).prop("class"));
    });

    function rgb2hex(rgb) {
        rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        function hex(x) {
            return ("0" + parseInt(x).toString(16)).slice(-2);
        }
        return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
    }

    $(function () {
        var fonts = [
            { name: "Roboto", className: "roboto" },
            { name: "Lato", className: "lato" },
            { name: "Rubik", className: "rubik" },
            { name: "Open Sans", className: "opensans" },
            { name: "Droid Sans", className: "droidsans" },
            { name: "PT Sans", className: "ptsans" },
            { name: "Ubuntu", className: "ubuntu" },
            { name: "Arvo", className: "arvo" },
            { name: "PT Serif", className: "ptserif" },
            { name: "Vollkorn", className: "vollkorn" }
        ];

        for (var i = 0; i < fonts.length; i++) {
            $("div[data-class='font-list']").append("<a href='#' class='button " + fonts[i].className + "'>" + fonts[i].name + "</a>");
        }
        $("div[data-class='colour'] div").each(function () {
            $(this).append('<span data-class="colourText">' + $(this).css("background-color") + '</span>');
            $(this).append('<span data-class="colourText">' + rgb2hex($(this).css("background-color")) + '</span>');
        });
    });
</script>
<style type="text/css">
    .roboto *, a.roboto {
        font-family: Roboto !important;
    }

    .lato *, a.lato {
        font-family: Lato !important;
    }

    .opensans *, a.opensans {
        font-family: 'Open Sans' !important;
    }

    .rubik *, a.rubik {
        font-family: Rubik !important;
    }

    .droidsans *, a.droidsans {
        font-family: 'Droid Sans' !important;
    }

    .arvo *, a.arvo {
        font-family: Arvo !important;
    }

    .ptsans *, a.ptsans {
        font-family: 'PT Sans' !important;
    }

    .ptserif *, a.ptserif {
        font-family: 'PT Serif' !important;
    }

    .ubuntu *, a.ubuntu {
        font-family: Ubuntu !important;
    }

    .vollkorn *, a.vollkorn {
        font-family: Vollkorn !important;
    }
</style>
@* Font Switcher  *@
@*
    Apply any additonal fonts in the same way below.
    - Reference the google font or a local file
    -
*@
<div data-class="section" data-id="fontswitcher">
    <span data-class="sectiontitle">Font Switcher</span>
    <div data-class="font-list"></div>
    <div data-class="font-demoText">
        <span>The quick brown fox jumps over the lazy dog</span>
        <span style="text-transform: uppercase">The quick brown fox jumps over the lazy dog</span>
        <span>0123456789 !?"£$%^&*()_+ @@'#~,./\:;</span>
    </div>
</div>
@* End Font Switcher  *@
<div data-class="section">
    <span data-class="sectiontitle">Colours</span>
    <div data-class="subSection">
        <span data-class="subsectiontitle">Primary</span>
        <div data-class="colourHolder">
            <div data-class="colour" class="p1">
                <div class="d2"></div>
                <div class="p"></div>
                <div class="l2"></div>
            </div>
            <div data-class="colour" class="p2">
                <div class="d2"></div>
                <div class="p"></div>
                <div class="l2"></div>
            </div>
            <div data-class="colour" class="p3">
                <div class="d2"></div>
                <div class="p"></div>
                <div class="l2"></div>
            </div>
        </div>
    </div>
</div>
<div data-class="section">
    <span data-class="sectiontitle">Headings</span>
    <div data-class="ruleset">
        <span data-class="rule">All page titles to use capital letters for each word, e.g. "Page Template"</span>
    </div>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
</div>
<div data-class="section">
    <span data-class="sectiontitle">Paragraphs</span>
    <p>Before cherries, shrines were only <i>witnesses</i>. An input is a sweatshirt's story. The lumber of a luttuce becomes a fecund black. A screeching ladybug's minister comes with it the thought that the awnless drizzle is a tent.</p>
    <p>The literature would have us believe that an <a href="#">untailed</a> queen is not but a bee. The edward is a bolt. Unfortunately, that is wrong; on the contrary, we can assume that any instance of a period can be construed as a condemned mice. The downtowns could be said to resemble wholesale differences.</p>
    <p>A doll of the kayak is <b>assumed</b> to be a pursued elbow. Authors often misinterpret the rate as a zincy slash, when in actuality it feels more like a jannock fahrenheit. The bowl is an elephant. This could be, or perhaps before augusts, beans were only pikes.</p>
</div>
<div data-class="section">
    <span data-class="sectiontitle">Lists</span>
    <div data-class="subSection">
        <span data-class="subsectiontitle">Ordered</span>
        <ol>
            <li>They were lost without the handsome shake that composed their pet</li>
            <li>The seas could be said to resemble knotted suns</li>
            <li>The unsmirched digger reveals itself as a fragile pen to those who look</li>
        </ol>
    </div>
    <div data-class="subSection">
        <span data-class="subsectiontitle">Ordered (Modern)</span>
        <ol class="modern">
            <li>They were lost without the handsome shake that composed their pet</li>
            <li>The seas could be said to resemble knotted suns</li>
            <li>The unsmirched digger reveals itself as a fragile pen to those who look</li>
        </ol>
    </div>
    <div data-class="subSection">
        <span data-class="subsectiontitle">Unordered</span>
        <ul>
            <li>Nowhere is it disputed that they were lost without the acock supply that composed their brown</li>
            <li>Recent controversy aside, the literature would have us believe that a dormy hexagon is not but a male</li>
            <li>One cannot separate commissions from browny tugboats</li>
        </ul>
    </div>
    <div data-class="subSection">
        <span data-class="subsectiontitle">Unordered (Modern)</span>
        <ul class="modern">
            <li>They were lost without the handsome shake that composed their pet</li>
            <li>The seas could be said to resemble knotted suns</li>
            <li>The unsmirched digger reveals itself as a fragile pen to those who look</li>
        </ul>
    </div>
</div>
<div data-class="section">
    <span data-class="sectiontitle">Blockquotes</span>
    <blockquote cite="http://method4.co.uk">
        A pukka coin's garlic comes with it the thought that the cautious Vietnam is an aftermath. The sunlike traffic comes from a smoking lock. Framed in a different way, a wrecker of the giraffe is assumed to be a kinglike steam. Extending this logic, their bite was, in this moment, a setose poison.
    </blockquote>
</div>
<div data-class="section">
    <span data-class="sectiontitle">Table</span>
    <div data-class="ruleset">
        <span data-class="rule">Align words, names, and text to the left. Align numbers and dates to the right.</span>
    </div>
    <table>
        <thead>
            <tr>
                <th class="number">ID</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Email Address</th>
                <th class="number">Date of Birth</th>
                <th class="number">No. of Purchases</th>
                <th class="number">Avg. Cost (£)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="number">1</td>
                <td>Brian</td>
                <td>Test</td>
                <td>something@@enail.com</td>
                <td class="number">12/03/1993</td>
                <td class="number">8,432</td>
                <td class="number">16.01</td>
            </tr>
            <tr>
                <td class="number">32</td>
                <td>Dave</td>
                <td>Williams</td>
                <td>something@@enail.com</td>
                <td class="number">31/11/1990</td>
                <td class="number">12</td>
                <td class="number">23.32</td>
            </tr>
            <tr>
                <td class="number">156</td>
                <td>Lizzie</td>
                <td>Drizzie</td>
                <td>something@@enail.com</td>
                <td class="number">01/01/1754</td>
                <td class="number">123,324</td>
                <td class="number">94.00</td>
            </tr>
        </tbody>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>

<div data-class="section">
    <span data-class="sectiontitle">Buttons</span>
    <div class="controlBar">
        <div class="control">
            <input type="button" value="Button" />
        </div>
        <div class="control">
            <input type="reset" />
        </div>
        <div class="control">
            <input type="submit" />
        </div>
        <div class="control">
            <a href="#" class="button confirm">Confirm</a>
        </div>
        <div class="control">
            <a href="#" class="button progress">Progress</a>
        </div>
        <div class="control">
            <a href="#" class="button">Other</a>
        </div>
        <div class="control">
            <a href="#" class="button negative">Negative</a>
        </div>
        <div class="control">
            <a href="#" class="button delete iconOnly" title="iconOnly">Delete IconOnly</a>
        </div>
        <div class="control">
            <a href="#" class="button depart">Depart</a>
        </div>
    </div>
</div>

<div data-class="section">
    <span data-class="sectiontitle">Inputs</span>
    <div data-class="ruleset">
        <span data-class="rule">Wrap all inputs inside a label tag, the full line then becomes a clickable label area</span>
    </div>
    <div data-class="subSection">
        <span data-class="subsectiontitle">New Line</span>


        <div class="formField">
            <label>
                <span>File:</span>
                <input type="file" />
            </label>
        </div>
        <div class="formField">
            <label>
                <span>Password:</span>
                <input type="password" />
            </label>
        </div>
        <div class="formField">
            <label>
                <input type="radio" />
                <span>Radio</span>
            </label>
        </div>

        <div class="formField">
            <label>
                <span>Search:</span>
                <input type="search" />
            </label>
        </div>
        <div class="formField">
            <label>
                <span>Text:</span>
                <input type="text" />
            </label>
        </div>
        <div class="formField">
            <label>
                <span>Textarea:</span>
                <textarea></textarea>
            </label>
        </div>
    </div>
            @*
        <input type="color" />
        <input type="date" />
        <input type="datetime" />
        <input type="datetime-local" />
        <input type="month" />
        <input type="number" />
        <input type="range" />
        <input type="tel" />
        <input type="time" />
        <input type="url" />
        <input type="week" />
            *@

    <div data-class="subSection">
        <span data-class="subsectiontitle">Inline</span>
        <div class="controlBar">
            <label class="control">
                <input type="checkbox" />
                <span>Checkbox</span>
            </label>
            <label class="control">
                <span>Email:</span>
                <input type="email" />
            </label>
        </div>
    </div>
</div>
<div data-class="section">
    <span data-class="sectiontitle">Fake Inputs</span>
    <div data-class="subSection">
        <span data-class="subsectiontitle">Radio</span>
        <div class="controlBar">
            <div class="control">
                @FakeInputHelper.Radio("RTY", false, "1", "Option 1")
            </div>
            <div class="control">
                @FakeInputHelper.Radio("RTY", false, "2", "Option 2")
            </div>
        </div>
    </div>
    <div data-class="subSection">
        <span data-class="subsectiontitle">Checkbox</span>
        <div class="controlBar">
            <div class="control">
                @FakeInputHelper.Checkbox("RTYZ", false, "Option False")
            </div>
            <div class="control">
                @FakeInputHelper.Checkbox("RTYX", true, "Option True")
            </div>
        </div>
    </div>
</div>
